.pages.navbar-through.toolbar-through
	.page(data-page="sube3")
		.page-content
			#sbCd
			script(type="text/template7")#tplsb
				.list-block(style="margin:0")
					ul
						li
							a(href="cat.php").back.link
								.item-content
									.item-media
										i.icon.icon-back
									.item-inner 
										.item-title Regresar
										.item-after.b {{name}}


				.card
					.card-content
						.list-block(data-id="{{id}}")
							ul
								{{#each carga}}
								li
									.item-content
										.item-inner 
											.item-title-row
												//- form(method="post", action="../test/upload",enctype="multipart/form-data")
												input(type="file",name="file",data-w="{{w}}",data-h="{{h}}")
												input(type="hidden",name="img[]",value="")
											.item-subtitle {{w}}px x {{h}}px
								{{/each}}

				.tc.mb20.p10
					a(href="#",data-ur="sube4.php?{{id}}").s18.br20.bc28.cF.p5.pl20.pr20#avanzar
						span.fa.fa-shopping-cart.s20.pr10
						span Siguiente
						span.fa.fa-caret-right.s20.pl10
			
							
