.pages.navbar-through.toolbar-through
	.page(data-page="sube4")
		.page-content
			.list-block(style="margin:0")
				ul
					li
						a(href="#").back.link
							.item-content
								.item-media
									i.icon.icon-back
								.item-inner 
									.item-title Regresar
									.item-after.b#name

			.content-block-title
				h1.GH.c28.s40.n.tc Tu selección

			form(action="http://recuadros.com/home/add_cart/1",method="post",enctype="multipart/form-data").list-block.ajax-submit#form
				.card
					.card-content
						.card-content-inner#total