.pages.navbar-through.toolbar-through
	.page(data-page="sube")
		.page-content
			.list-block(style="margin:0")
				ul
					li
						a(href="cat.html").back.link
							.item-content
								.item-media
									i.icon.icon-back
								.item-inner Regresar
			
			.row
				.col-50.tablet-33
					.card
						a(href="sube2.html?1").card-header.color-white.no-border.itemcat(style="background:url(http://recuadros.com/img/ico_1.jpg) no-repeat center center").h150 
						.card-content
							.card-footer sencillo
				//- .col-50.tablet-33
				//- 	.card
				//- 		a(href="sube2.html?2").card-header.color-white.no-border.itemcat(style="background:url(http://recuadros.com/img/ico_2.jpg) no-repeat center center").h150 
				//- 		.card-content
				//- 			.card-footer collage
				//- .col-50.tablet-33
				//- 	.card
				//- 		a(href="sube2.html?3").card-header.color-white.no-border.itemcat(style="background:url(http://recuadros.com/img/ico_3.jpg) no-repeat center center").h150 
				//- 		.card-content
				//- 			.card-footer foto split
				//- .col-50.tablet-33
				//- 	.card
				//- 		a(href="sube2.html?4").card-header.color-white.no-border.itemcat(style="background:url(http://recuadros.com/img/ico_4.jpg) no-repeat center center").h150 
				//- 		.card-content
				//- 			.card-footer foto mural