.pages.navbar-through.toolbar-through
	.page(data-page="faqs")
		.page-content
			.list-block(style="margin:0")
				ul
					li
						a(href="#").back.link
							.item-content
								.item-media
									i.icon.icon-back
								.item-inner Regresar
			.content-block-title
				h1.GH.c28.s40.n.tc faq´s
					.s14 preguntas frecuentes

			.list-block.accordion-list
				ul
					li.accordion-item
						a.item-content.item-link(href="#")
							span.item-inner
								span.item-title ¿Como puedo saber si mi foto quedará bien en el tamaño en que la quiero imprimir?
						.accordion-item-content
							.content-block
								p Si tienes dudas si tu foto tiene la resolución necesaria para quedar bien impresa en lienzo con recuadros.com , envíanos un correo con tu foto y el tamaño en que te gustaría imprimir tu recuadro, nosotros te ayudaremos a decidir lo mejor para que al recibir tu recuadro estés feliz con nuestro producto.
					li.accordion-item
						a.item-content.item-link(href="#")
							span.item-inner
								span.item-title ¿Cómo se hace el pedido?
						.accordion-item-content
							.content-block
								p El pedido se puede hacer de manera rápida y fácil a través de nuestra página web:www.recuadros.com Eliges la opción que te gusta dentro de productos, lo agregas a tu carrito de compra y sigues las instrucciones para completar tu compra.
					li.accordion-item
						a.item-content.item-link(href="#")
							span.item-inner
								span.item-title ¿Qué formas de pago aceptamos en recuadros.com?
						.accordion-item-content
							.content-block
								p Puedes elegir entre las rápidas y seguras formas de efectuar el pago por Internet
									br
									br
									span 1-Paypal / Tarjeta de crédito a través Paypal
									br
									br
									span 2-Abonar el importe total mediante transferencia electrónica o depósito directamente a nuestra cuenta:
									br
									span ARTLOZ, S.A. de C.V.
									br
									span BANORTE
									br
									span CUENTA: 0549365266
									br
									span CLABE INTERBANCARIA: 072 010 00549 365266 4
									br
									br
									span 3-Dinero Mail:
									br
									span -Con tu tarjeta de crédito/débito
					li.accordion-item
						a.item-content.item-link(href="#")
							span.item-inner
								span.item-title ¿Cuánto tiempo tarda un envío?
						.accordion-item-content
							.content-block
								p Una vez recibamos tu pedido y tu pago, procesaremos tu órden, y tardará 5 días hábiles en salir de nuestro taller. El envío depende de la zona en la que te encuentres, tarda regularmente entre 1-4 días. Si tu pedido es urgente, puedes avisarnos en los comentarios a la hora de hacer tu pedido o consultarlo con alguno de nuestros asesores que te podrán ayudar mediante el chat dentro de la página o en nuestro correo:info@recuadros.com.
					li.accordion-item
						a.item-content.item-link(href="#")
							span.item-inner
								span.item-title ¿Cuáles son los gastos de envío?
						.accordion-item-content
							.content-block
								p Los gastos por envío son de $ pesos siempre que el pedido sea inferior a $2,000. En el caso de que el pedido sea superior a $2,000 pesos el envío será gratuito.*
								p Para Pedidos urgentes consúltanos la disponibilidad y el precio del transporte.
					li.accordion-item
						a.item-content.item-link(href="#")
							span.item-inner
								span.item-title Me ha llegado un producto defectuoso ¿Qué hago?
						.accordion-item-content
							.content-block
								p Nuestros productos son frágiles, por lo que intentamos que el proceso de empaque sea elaborado detalladamente. Cada paquete se empaca conforme a las reglas de reconocidas agencias de mensajería. Los daños durante el transporte ocurren raramente, sin embargo, si has recibido algún producto defectuoso, por favor ponte en contacto con nosotros: info@recuadros.com Intentaremos solucionar este problema lo más pronto posible. 
								p Envío gratuito válido solo en algunas zonas, contáctanos para saber si tu dirección entra en ésta promoción!